@import "bootstrap";
@import "font-awesome-compass";
@import "font-awesome";

body {
    overflow-x: hidden;
    font-family: "Helvetica Condensed","Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-bottom:180px;
}
.sharing-buttons{
	list-style: none;
	text-decoration: none;
	text-align: center;
}

.sharing-buttons li{
	display: inline;
}

.sharing-buttons a{
	border: 1px solid;
	padding: 0.5em;
	color: #fff;
	text-decoration: none;
}

.sharing-buttons a:hover{
	color: #eee;
	text-decoration: none;
}

.fa{
	padding: 0.5em;
}

.facebook{
	background: #3B5998; 
}

.twitter{
	background: #00ACED;
}

.google-plus{
	background: #D14836
}


.text-muted {
    color: #777;
}

.text-primary {
    color: #527bdd;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

p.team-title {
    font-size: 11px;
    color: #5e5e5e;
}
p.large {
    font-size: 16px;
}

p.punchy {
    text-align:center;
    font-size: 20px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #527bdd;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #527bdd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* text-transform: uppercase; */
    font-family: "Roboto Condensed",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #527bbd;
    font-weight: 700;
    font-size: 56px;
}
h3 {
	font-size: 26px;
	font-weight: 500;
}
h4 {
	font-size: 18px;
	font-weight: 300;
	margin-left: 15px;
}
h5 {
	font-size: 16px;
	font-weight: 200;
	margin-left: 30px;
}
.faq h3 {
	color: #d91d1c;
}
.faq h4 {
	cursor: pointer;
}
.faq p {
	font-size: 14px;
}
.markdown h3 {
	font-size: 22px;
}
.markdown p {
	font-size: 14px;
	padding-left:30px;
}
.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #527bdd;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #527bdd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #527bdd;
    background-color: #527bdd;
}

.btn-primary .badge {
    color: #527bdd;
    background-color: #fff;
}

.btn-xl {
    padding: 10px 10px;
    border-color: #527bbd;
    border-radius: 0;
    width: 230px;
    font-family: "Roboto Condensed",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    background-color: #527bbd;
}
.btn.yellow {
    border-color: #fec503;
    background-color: #fec503;;
}
.btn.blue {
    border-color: #527bdd;
    background-color: #527bdd;
    color:white;
}
.btn.red {
    border-color: #d91d1c;
    color: white;
    background-color: #d91d1c;
}
.btn.white {
    border-color: #9e9e9e;
    background-color: white;
    color: #5e5e5e;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #fec503;//#fed136;//#527bbd;
    color: #fff;
    background-color: #fec503;//#fed136;//#3f68ac;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #527bdd;
    background-color: #527bdd;
}

.btn-xl .badge {
    color: #527bdd;
    background-color: #fff;
}

.title h2 {
	font-size: 42px;
	color: white;
}

.navbar-toggle {
    margin-top:13px;
    margin-bottom:13px;
}
.navbar-right {
    margin-top:7px;
}
.navbar-default {
    border-color: transparent;
    background-color: white;
    cursor: pointer;
}
.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #5e5e5e;
    padding: 0px;
    margin-left:0px;
    height:60px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #5e5e5e;
}
.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}
.navbar-default .navbar-toggle {
    border-color: #527bdd;
    background-color: #527bdd;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #527bdd;
}
.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #5e5e5e;
    letter-spacing: 1px;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: white;
    background-color: #527bdd;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #527bdd;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #527bdd;
}
.joinus h2 {
	font-size:32px;
	text-align:center;
}
.joinus {
	background-color: white;
	//margin-right: 16px;
	margin-bottom: 15px;
	padding: 5px 20px;
	text-align: justify;
	border: 4px solid #527bdd;
}
#lettre_sequence .joinus {
	width:70%;
	margin-top:-200px;
	margin-bottom:-50px;
}

#lettre_sequence .lettre {
	width: 95%;
	padding-bottom:150px;
}

#clock_wrapper {
	text-align: center;
}
#clock {
	width: auto;
	margin: 10px auto;
	color: #59c0f0;
	font-size: 26px;
}

.medium-item {
	margin:0px auto;
	width: 400px;
	height: 410px;
}
.tweet-item {
	margin: 0 auto;
}

@media(max-width:768px) {
#header_overlay {
	padding-top:60px;
}
	#clock .flip-clock-wrapper {
		font-size: 22px;
	}
	#clock_wrapper {
		zoom: 0.6;
		-moz-transform: scale(0.6)
	}
	#lettre_sequence .joinus {
		width:95%;
		margin: 20px auto;
	}
}

.title {
	width: 100%;
	text-align: center;
}

.lettre p {
	font-size:18px;
}
.lettre {
	margin: 0px auto;
	padding: 0px 15px;
	text-align: justify;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 5px 0;
	border-bottom: 2px solid #d91d1c;
        background-color: white;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 0px;
    }

    .navbar-default.navbar-shrink {
        padding: 5px 0;
        background-color: white;
	border-bottom: 1px solid #d91d1c;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

#header_overlay {
    //background-color: white;
    //background: rgba(254,209,54,.9); // yellow
    //background: rgba(82,123,189,.9); // blue
    //background: rgba(255,255,255,.9); // white
    background: rgba(217,29,28,.9); // red
    padding-top:70px;
}
#header_overlay.white {
    background: rgba(255,255,255,.95); // white
}
#header_overlay.blue {
    background: rgba(82,123,221,.9); // blue
}

header {
    text-align: center;
    color: #5e5e5e;
    background-image: url(https://s3.eu-central-1.amazonaws.com/laprimaire/crowd-700x250.jpg);
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: 700px;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 50px;
    padding-bottom: 25px;
}

#navbar-home {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    color:#5e5e5e;
    padding: 17px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-style: italic;
    line-height: 30px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 20px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 20px;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 55px;
        font-weight: 700;
        line-height: 55px;
    }
}

section {
    padding: 20px 0;
}

section#counter  {
    padding:15px;
}
section#counter h2 {
    font-size: 30px;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
}

section h3.section-subheading {
    margin-bottom: 30px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 20px 0px;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #527bdd;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}
.team-member {
    margin-bottom: 15px;
    text-align: center;
}
.team-member p {
    margin-top: 0;
}
.team-member h4 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}
.team-member img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 7px solid #eee;
}
.team-member.desc {
    margin-bottom: 20px;
    text-align: left;
}
.team-member.desc h4 {
    margin-top: 0px;
    margin-left: 0px;
}
.team-member.desc p {
    font-size: 12px;
    text-align:justify;
    color:#444;
}

.team-member.core {
    margin-bottom: 20px;
}
.team-member.core img {
    width: 150px;
    height: 150px;
}
.team-member ul.social-buttons li a {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: 13px;
    line-height: 20px;
    outline: 0;
    color: #fff;
    background-color: #d91d1c;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

aside.clients img {
    margin: 50px auto;
}

#lettre_sequence .form-group {
    margin-bottom: 20px;
}

#lettre_sequence .form-group input,
#lettre_sequence .form-group textarea {
    padding: 10px;
}

#lettre_sequence .form-group input.form-control {
    height: auto;
}

#lettre_sequence .form-group textarea.form-control {
    height: 141px;
}

#lettre_sequence .form-control:focus {
    border-color: #527bdd;
    box-shadow: none;
}

#lettre_sequence::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#lettre_sequence:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#lettre_sequence:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#lettre_sequence .text-danger {
    color: #e74c3c;
}

#lettre_inline .form-group {
    margin-bottom: 15px;
}

#lettre_inline .form-group input,
#lettre_inline .form-group textarea {
    padding: 10px;
}

#lettre_inline .form-group input.form-control {
    height: auto;
}

#lettre_inline .form-group textarea.form-control {
    height: 100px;
}

#lettre_inline .form-control:focus {
    border-color: #527bdd;
    box-shadow: none;
}

#lettre_inline::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#lettre_inline:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#lettre_inline:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#lettre_inline .text-danger {
    color: #e74c3c;
}

section#sign {
    background-color: #222;
    /* background-image: url(../img/map-image.png); */
    background-color: pink;
    background-position: center;
    background-repeat: no-repeat;
}

section#sign .section-heading {
    color: #fff;
}

section#sign .form-group {
    margin-bottom: 25px;
}

section#sign .form-group input,
section#sign .form-group textarea {
    padding: 20px;
}

section#sign .form-group input.form-control {
    height: auto;
}

section#sign .form-group textarea.form-control {
    height: 236px;
}

section#sign .form-control:focus {
    border-color: #527bdd;
    box-shadow: none;
}

section#sign::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #59c0f0;
}

section#sign:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #59c0f0;
}

section#sign::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #59c0f0;
}

section#sign:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #59c0f0;
}

section#sign .text-danger {
    color: #e74c3c;
}

footer {
    position: fixed;
    z-index:1000;
    bottom: 0;
    width: 100%;
    background-color: #527bdd;
    padding: 15px 0;
    text-align: center;
    color: #59c0f0;
    font-size: 16px;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

.team-member ul.social-buttons li a {
    width: 25px;
    height: 25px;
}
ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #d91d1c;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #527bdd;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #d91d1c;
    color:white;
}

::selection {
    text-shadow: none;
    background: #d91d1c;
    color:white;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #fed136;
}

