body {
    overflow-x: hidden;
    font-family: "Helvetica Condensed","Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.sharing-buttons{
	list-style: none;
	text-decoration: none;
	text-align: center;
}
.modal-title {
	font-size: 20px;
	color:white;
}
.modal-header { background-color:#d91d1c; }
.modal-body { font-size: 18px; }
.sharing-buttons li{ display: inline; }
.sharing-buttons a{
	border: 1px solid;
	padding: 0.5em;
	color: #fff;
	text-decoration: none;
}
.sharing-buttons a:hover{
	color: #eee;
	text-decoration: none;
}
.fa { padding: 0.5em; }
.facebook{ background: #3B5998; }
.twitter{ background: #00ACED; }
.google-plus{ background: #D14836 }
.text-muted { color: #777; }
.text-primary { color: #527bdd; }
p {
    font-size: 18px;
    line-height: 1.5;
}
p.team-title {
    font-size: 11px;
    color: #5e5e5e;
}
p.large { font-size: 16px; }
p.punchy {
    text-align:center;
    font-size: 20px;
}
a,
a:hover,
a:focus,
a:active,
a.active { outline: 0; }
a { color: #527bdd; }
a:hover,
a:focus,
a:active,
a.active { color: #527bdd; }
h1,
h2,
h3,
h4,
h5,
h6 {
    /* text-transform: uppercase; */
    font-family: "Roboto Condensed",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #527bbd;
    font-weight: 700;
    font-size: 56px;
}
h3 {
	font-size: 26px;
	font-weight: 500;
}
h4 {
	font-size: 18px;
	font-weight: 300;
	margin-left: 15px;
}
h5 {
	font-size: 16px;
	font-weight: 200;
	margin-left: 30px;
}
.markdown h3 { font-size: 22px; }
.markdown p {
	font-size: 14px;
	padding-left:30px;
}
.img-centered { margin: 0 auto; }
.bg-light-gray { background-color: #f7f7f7; }
.bg-darkest-gray { background-color: #222; }
.btn-primary {
    border-color: #527bdd;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #527bdd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #527bdd;
    background-color: #527bdd;
}
.btn-primary .badge {
    color: #527bdd;
    background-color: #fff;
}
.btn-xl {
    padding: 10px 10px;
    border-color: #527bbd;
    border-radius: 0;
    width: 230px;
    font-family: "Roboto Condensed",Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    background-color: #527bbd;
}
.btn.yellow {
    border-color: #fec503;
    background-color: #fec503;;
}
.btn.blue {
    border-color: #527bdd;
    background-color: #527bdd;
    color:white;
}
.btn.red {
    border-color: #d91d1c;
    color: white;
    background-color: #d91d1c;
}
.btn.white {
    border-color: #9e9e9e;
    background-color: white;
    color: #5e5e5e;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #fec503;
    color: #fff;
    background-color: #fec503;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl { background-image: none; }
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #527bdd;
    background-color: #527bdd;
}
.btn-xl .badge {
    color: #527bdd;
    background-color: #fff;
}
.title h2 {
	font-size: 42px;
	color: white;
}
.navbar-toggle {
    margin-top:13px;
    margin-bottom:13px;
}
.navbar-right { margin-top:7px; }
.navbar-default {
    border-color: transparent;
    background-color: white;
    cursor: pointer;
}
.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #5e5e5e;
    padding: 0px;
    margin-left:0px;
    height:60px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active { color: #5e5e5e; }
.navbar-default .navbar-collapse { border-color: rgba(255,255,255,.02); }
.navbar-default .navbar-toggle {
    border-color: #527bdd;
    background-color: #527bdd;
}
.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #527bdd; }
.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #5e5e5e;
    letter-spacing: 1px;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: white;
    background-color: #527bdd;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #527bdd;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #527bdd;
}
.joinus h2 {
	font-size:32px;
	text-align:center;
}
.joinus {
	background-color: white;
	margin-bottom: 15px;
	padding: 5px 20px;
	text-align: justify;
	border: 4px solid #527bdd;
}
#clock_wrapper { text-align: center; }
#clock {
	width: auto;
	margin: 10px auto;
	color: #59c0f0;
	font-size: 26px;
}
.medium-item {
	margin:0px auto;
	width: 400px;
	height: 410px;
}
.tweet-item { margin: 0 auto; }
@media(max-width:768px) {
#header_overlay {
	padding-top:60px;
}
	#clock .flip-clock-wrapper {
		font-size: 22px;
	}
	#clock_wrapper {
		zoom: 0.6;
		-moz-transform: scale(0.6)
	}
}

.title {
	width: 100%;
	text-align: center;
}

.lettre p {
	font-size:18px;
}
.lettre {
	margin: 0px auto;
	padding: 0px 15px;
	text-align: justify;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 5px 0;
	border-bottom: 2px solid #d91d1c;
        background-color: white;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a { border-radius: 0px; }
    .navbar-default.navbar-shrink {
        padding: 5px 0;
        background-color: white;
	border-bottom: 1px solid #d91d1c;
    }
    .navbar-default.navbar-shrink .navbar-brand { font-size: 1.5em; }
}
#header_overlay {
    background: rgba(217,29,28,.9);
    padding-top:70px;
}
#header_overlay.white { background: rgba(255,255,255,.95); }
#header_overlay.blue { background: rgba(82,123,221,.9); }
header {
    text-align: center;
    color: #5e5e5e;
    background-image: url(https://s3.eu-central-1.amazonaws.com/laprimaire/crowd-700x250.jpg);
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: 700px;
    -o-background-size: cover;
}
header .intro-text {
    padding-top: 25px;
    padding-bottom: 25px;
}
#navbar-home {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    color:#5e5e5e;
    padding: 17px;
}
header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-style: italic;
    line-height: 30px;
}
header .intro-text .intro-heading {
    margin-bottom: 25px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}
@media(min-width:768px) {
    header .intro-text {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    header .intro-text .intro-lead-in {
        margin-bottom: 20px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }
    header .intro-text .intro-heading {
        margin-bottom: 20px;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 55px;
        font-weight: 700;
        line-height: 55px;
    }
}
section { padding: 20px 0; }
section#counter  { padding:15px; }
section#counter h2 { font-size: 30px; }
section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
}
section h3.section-subheading {
    margin-bottom: 30px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
@media(min-width:768px) {
    section { padding: 20px 0px; }
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
}
aside.clients img { margin: 50px auto; }
#lettre_inline .form-group { margin-bottom: 15px; }
#lettre_inline .form-group input,
#lettre_inline .form-group textarea { padding: 10px; }
#lettre_inline .form-group input.form-control { height: auto; }
#lettre_inline .form-group textarea.form-control { height: 100px; }
#lettre_inline .form-control:focus {
    border-color: #527bdd;
    box-shadow: none;
}
#lettre_inline::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}
#lettre_inline:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}
#lettre_inline:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}
#lettre_inline .text-danger { color: #e74c3c; }
footer {
    position: fixed;
    z-index:1000;
    bottom: 0;
    width: 100%;
    background-color: #527bdd;
    padding: 15px 0;
    text-align: center;
    color: #59c0f0;
    font-size: 16px;
}
footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}
footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}
ul.social-buttons { margin-bottom: 0; }
.team-member ul.social-buttons li a {
    width: 25px;
    height: 25px;
}
ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #d91d1c;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active { background-color: #527bdd; }
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus { outline: 0; }
::-moz-selection {
    text-shadow: none;
    background: #d91d1c;
    color:white;
}
::selection {
    text-shadow: none;
    background: #d91d1c;
    color:white;
}
img::selection { background: 0 0; }
img::-moz-selection { background: 0 0; }
body {
	webkit-tap-highlight-color: #fed136;
}
