#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

unless defined? LOADED_DEFAULT_CONFIG
  LOADED_DEFAULT_CONFIG = true
  require 'compass'
  Compass.add_project_configuration 'config.rb'
end

compile '*' do
  if item[:extension] == 'css'
    filter :erb
    filter :rainpress if File.basename(item[:content_filename], ".*") == 'all'
  elsif item[:extension] == 'js'
    filter :erb
    filter :uglify_js if File.basename(item[:content_filename], ".*") == 'all'
  elsif item[:extension] == 'scss'
    filter :erb
    filter :sass, Compass.sass_engine_options
    filter :rainpress if File.basename(item[:content_filename], ".*") == 'all'
  elsif item[:extension] == 'html'
    filter :erb
    layout 'default'
    filter :cache_buster, :strategy => :html
  elsif item.binary?
    # don’t filter binary items
  else
    filter :erb
    layout 'default'
  end
end

#passthrough '/static/*'
route '/docs/*' do
	item.identifier.chop
end


route '/assets/**/_*' do
  nil
end

route '/assets/style/font-awesome/*' do
	# renaming. Ex: font-awesome_ttf.ttf -> font-awesome.ttf
	item.identifier.sub(/_.+\/$/,'.') + item[:extension]
end

route '/assets/style/*' do
	# if not debug mode, only let all.css through
	unless @config[:debug] 
		item.identifier.chop + fingerprint(item[:filename]) + '.css' if File.basename(item[:content_filename], ".*") == 'all'
	else
		item.identifier.chop + fingerprint(item[:filename]) + '.css'
	end
end

route '/assets/scripts/*' do
	# if not debug mode, only let all.js through
	unless @config[:debug]
		item.identifier.chop + fingerprint(item[:filename]) + '.js' if File.basename(item[:content_filename], ".*") == 'all'
	else
		item.identifier.chop + fingerprint(item[:filename]) + '.js'
	end
end


route '*' do
  if item[:extension] == 'css' || item[:extension] == 'scss'
    # Write item with identifier /foo/ to /foo.css
    item.identifier.chop + '.css'
  elsif item[:extension] == 'js'
    item.identifier.chop + '.js'
  elsif item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
