---
title: Aidez nous à faire de La Primaire une réalité
footer: true
navbar: true
author: des citoyens ordinaires
description: Si vous faites partie des citoyens déçus et lassés des politiques français et que vous souhaitez nous donner un coup de main pour redonner du sens aux élections, remplissez ce formulaire pour nous aider à organiser LA Primaire démocratique et ouverte en vue des élections de 2017.
---

    <header id="page-top">
	<div id="header_overlay" class="blue">
        <div class="container">
            <div class="row">
		    <div class="title">
			<h2>A propos</h2>
		    </div>
	    </div>
        </div>
    </header>

    <section id="team" style="margin-top:20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Qui est derri&egrave;re ce projet&#8239;?</h2>
                    <h3 class="section-subheading text-muted">Voici les citoyens qui contribuent ou ont contribu&eacute;, un peu, beaucoup, passionn&eacute;ment… et peut-&ecirc;tre m&ecirc;me &agrave; la folie pour certains :)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="team-member">
                        <img src="/assets/images/team/thibauld.png" class="img-responsive img-circle" alt="">
                        <h4><a href="https://twitter.com/intent/user?screen_name=thibauld" target="_blank">Thibauld</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="team-member">
                        <img src="/assets/images/team/david.png" class="img-responsive img-circle" alt="">
                        <h4><a href="https://www.linkedin.com/in/oxeolyaavocatsdavidguez" target="_blank">David</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="team-member">
                        <img src="/assets/images/team/jt.png" class="img-responsive img-circle" alt="">
                        <h4><a href="https://www.linkedin.com/in/jeantristanchanegue" target="_blank">Jean Tristan</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="team-member">
                        <img src="/assets/images/team/geoffrey.png" class="img-responsive img-circle" alt="">
                        <h4><a href="http://geoffreydorne.com" target="_blank">Geoffrey</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="team-member">
                        <img src="/assets/images/team/clara.png" class="img-responsive img-circle" alt="">
                        <h4><a href="https://twitter.com/intent/user?screen_name=Clarazeld" target="_blank">Clara</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="team-member">
                        <img src="/assets/images/team/aude.png" class="img-responsive img-circle" alt="">
                        <h4><a href="https://twitter.com/intent/user?screen_name=eaudefavre" target="_blank">Aude</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="team-member">
                        <img src="/assets/images/team/franck.png" class="img-responsive img-circle" alt="">
                        <h4><a href="https://twitter.com/intent/user?screen_name=peignoir" target="_blank">Franck</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="team-member">
                        <img src="/assets/images/team/nicolas.png" class="img-responsive img-circle" alt="">
                        <h4><a href="https://twitter.com/intent/user?screen_name=nicolas_colin" target="_blank">Nicolas</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="team-member">
                        <img src="/assets/images/team/jm.png" class="img-responsive img-circle" alt="">
                        <h4><a href="https://fr.linkedin.com/in/jeanmarcnozeran" target="_blank">Jean-Marc</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="team-member">
                        <img src="/assets/images/team/jf.png" class="img-responsive img-circle" alt="">
                        <h4><a href="https://sites.google.com/site/jflaslierhomepage/" target="_blank">Jean-Francois</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="team-member">
                        <img src="/assets/images/team/arthur.png" class="img-responsive img-circle" alt="">
                        <h4><a href="https://www.linkedin.com/pub/arthur-muller/13/640/5b1" target="_blank">Arthur</a></h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="team-member">
			    <%= link_to('<img src="/assets/images/team/vousf.png" class="img-responsive img-circle" alt="">','contribuer',:target=>'blank') %>
			    <h4><%= link_to('Vous ?','/contribuer',:target=>'blank') %></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Des citoyens ordinaires, affili&eacute;s &agrave; aucun parti et qui ne sont candidats &agrave; rien… si ce n'est &agrave; aider &agrave; la r&eacute;novation de la d&eacute;mocratie de notre cher pays.</p>
                </div>
            </div>
        </div>
    </section>
