---
title: L'équipe derrière LaPrimaire.org
footer: true
navbar: true
association: true
author: des citoyens ordinaires
description: Si vous faites partie des citoyens déçus et lassés des politiques français et que vous souhaitez nous donner un coup de main pour redonner du sens aux élections, remplissez ce formulaire pour nous aider à organiser LA Primaire démocratique et ouverte en vue des élections de 2017.
---

    <header id="page-top">
	<div id="header_overlay" class="red">
        <div class="container">
            <div class="row">
		    <div class="title">
			<h2>L'équipe</h2>
		    </div>
	    </div>
        </div>
        </div>
    </header>

    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Les citoyens derrière LaPrimaire.org</h2>
                </div>
            </div>
	    <div class="row" style="text-align:center;"><h3>L'équipe dirigeante de l'association democratech</h3>
		    <p style="font-size:16px; color:#777;font-style:italic;">Ceux qui travaillent à plein temps ou quasi-plein temps pour faire de LaPrimaire.org un succès.<br/>Les dirigeants de l'association sont bénévoles, ont interdiction d'être candidats et ne peuvent être adhérents à aucun parti politique.</p><br/>
	    </div>
            <div class="row">
                <div class="col-lg-2 col-md-4">
                    <div class="team-member core">
                        <img src="/assets/images/team/thibauld.png" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
			<div class="team-member desc">
				<h4>Thibauld, ingénieur</h4>
				<p><a href="http://insa-lyon.fr/" target="_blank">Ingénieur en informatique</a>, j'avais créé <a href="http://rue89.nouvelobs.com/2015/07/07/ladrenaline-burn-out-lhistoire-crash-dune-start-up-260018" target="_blank">une startup technologique</a> avant de créer democratech avec David. Avec LaPrimaire.org, j'ai voulu mettre mes compétences techniques et entrepreneuriales au service de mon pays afin d'en améliorer les processus démocratiques et de réinventer la relation entres les citoyens et leurs représentants. Après avoir habité à Reims, en Vendée, en Haute-Savoie, en Alsace, à Lyon puis à Paris, j'habite depuis 1 an aux Etats Unis où j'ai rejoint ma femme chercheuse à l'<a href="http://uconn.edu/uconn-health/" target="_blank">Université du Connecticut</a>.</p>
			    <ul class="list-inline social-buttons">
				<li><a target="_blank" href="https://twitter.com/intent/user?screen_name=thibauld"><i class="fa fa-twitter"></i></a>
				</li>
				<li><a class="facebook-follow" data-orig="bottom-icon" target="_blank" href="https://facebook.com/thibauld"><i class="fa fa-facebook"></i></a>
				</li>
				<li><a target="_blank" href="https://www.linkedin.com/in/thibauld"><i class="fa fa-linkedin"></i></a>
				</li>
				<li><a target="_blank" href="https://github.com/thibauld"><i class="fa fa-github"></i></a>
				</li>
				<li><a target="_blank" href="https://medium.com/@thibauld"><i class="fa fa-medium"></i></a>
				</li>
			    </ul>
			</div>
                </div>
		<div class="clearfix visible-md-block"></div>
                <div class="col-lg-2 col-md-4">
                    <div class="team-member core">
                        <img src="/assets/images/team/david.png" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
			<div class="team-member desc">
				<h4>David, avocat</h4>
				<p><a href="http://www.oxeolya.net/" target="_blank">Avocat au Barreau de Paris</a>, je suis associé-gérant du cabinet que j'ai créé en 2009 après avoir travaillé plusieurs années au sein de cabinets d'avocats français et internationaux. Aujourd'hui, j'ai souhaité mettre mes compétences et mes connaissances au service de LaPrimaire.org afin que cette primaire favorise le renouveau de la classe politique française et insuffle une dynamique vertueuse à la relation entre les citoyens et leurs représentants. J'habite à Paris depuis de nombreuses années.</p>
			    <ul class="list-inline social-buttons">
				<li><a target="_blank" href="https://twitter.com/intent/user?screen_name=_DavidGuez"><i class="fa fa-twitter"></i></a>
				</li>
				<li><a class="facebook-follow" data-orig="bottom-icon" target="_blank" href="https://facebook.com/david.guez.313"><i class="fa fa-facebook"></i></a>
				</li>
				<li><a target="_blank" href="https://www.linkedin.com/in/oxeolyaavocatsdavidguez"><i class="fa fa-linkedin"></i></a>
				</li>
				<li><a target="_blank" href="https://medium.com/@_DavidGuez"><i class="fa fa-medium"></i></a>
				</li>
			    </ul>
			</div>
                </div>
	   </div>
	    <div class="row" style="text-align:center;"><h3>Le comité opérationnel</h3>
		    <p style="font-size:16px; color:#777;font-style:italic;">Ceux qui ont la responsabilité opérationnelle d'une mission spécifique.<br/>En tant que responsables de la mise en oeuvre et de l'organisation de la Primaire, ils ont interdiction de se porter candidat(e)s.</p><br/>
	    </div>
            <div class="row">
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
                        <img src="/assets/images/team/maria.png" class="img-responsive img-circle" alt="" width="300" height="300">
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="https://twitter.com/intent/user?screen_name=mariadelmar_m" target="_blank">Maria</a></h4>
			<p><i>Coordination terrain</i> Activiste engagée pour la démocratie et l'environnement, Maria a une formation de droit et a beaucoup étudié les candidatures indépendantes en Amérique Latine.</p>
			    <ul class="list-inline social-buttons">
				<li><a target="_blank" href="https://twitter.com/intent/user?screen_name=mariadelmar_m"><i class="fa fa-twitter"></i></a>
				</li>
				<li><a class="facebook-follow" data-orig="bottom-icon" target="_blank" href="https://facebook.com/maria.d.mar.mella"><i class="fa fa-facebook"></i></a>
				</li>
				<li><a target="_blank" href="https://www.linkedin.com/in/mariadelmarmella"><i class="fa fa-linkedin"></i></a>
				</li>
			    </ul>
                    </div>
                </div>
		<div class="clearfix visible-md-block"></div>
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
                        <img src="/assets/images/team/judith.png" class="img-responsive img-circle" alt="" width="300" height="300">
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="https://twitter.com/judithgrumbach" target="_blank">Judith</a></h4>
			<p><i>Réalisation vidéo</i> Réalisatrice de documentaires sur l'éducation, Judith est passionnée par les sujets qui tournent autour de l'économie sociale et solidaire.</p>
			    <ul class="list-inline social-buttons">
				<li><a target="_blank" href="https://twitter.com/intent/user?screen_name=judithgrimbach"><i class="fa fa-twitter"></i></a>
				</li>
				<li><a class="facebook-follow" data-orig="bottom-icon" target="_blank" href="https://facebook.com/judithgrumbach"><i class="fa fa-facebook"></i></a>
				</li>
				<li><a target="_blank" href="https://www.linkedin.com/in/judith-grumbach-5952921"><i class="fa fa-linkedin"></i></a>
				</li>
			    </ul>
                    </div>
                </div>
		<div class="clearfix visible-md-block"></div>
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
			    <%= link_to('<img src="/assets/images/team/vousm.png" class="img-responsive img-circle" alt="">','/aider',:target=>'blank') %>
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="/aider" target="_blank">Vous ?</a></h4>
			<p>Comment pouvez vous nous aider ?</p>
                    </div>
                </div>
		<div class="clearfix visible-md-block"></div>
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
			    <%= link_to('<img src="/assets/images/team/vousf.png" class="img-responsive img-circle" alt="">','/aider',:target=>'blank') %>
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="/aider" target="_blank">Vous ?</a></h4>
			<p>Comment pouvez vous nous aider ?</p>
                    </div>
                </div>
	    </div>
	    <div class="row" style="text-align:center;"><h3>Ils nous ont aidé à démarrer</h3>
		    <p style="font-size:16px; color:#777;font-style:italic;">Que ce soit au niveau design, technique ou philosophique, ils ont participé à la gestation du projet.</p><br/>
	    </div>
            <div class="row">
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
                        <img src="/assets/images/team/geoffrey.png" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="http://geoffreydorne.com" target="_blank">Geoffrey</a></h4>
			<p>Illustration et Design</p>
                    </div>
                </div>
		<div class="clearfix visible-md-block"></div>
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
                        <img src="/assets/images/team/jt.png" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="https://www.linkedin.com/in/jeantristanchanegue" target="_blank">Jean Tristan</a></h4>
			<p>Technique</p>
                    </div>
                </div>
		<div class="clearfix visible-md-block"></div>
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
                        <img src="/assets/images/team/clara.png" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="https://twitter.com/intent/user?screen_name=Clarazeld" target="_blank">Clara</a></h4>
			<p>Positionnement</p>
                    </div>
                </div>
		<div class="clearfix visible-md-block"></div>
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
                        <img src="/assets/images/team/franck.png" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="https://twitter.com/intent/user?screen_name=peignoir" target="_blank">Franck</a></h4>
			<p>Concept</p>
                    </div>
                </div>
		<div class="clearfix visible-md-block"></div>
	    </div>
            <div class="row">
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
                        <img src="/assets/images/team/delphine.png" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="https://twitter.com/intent/user?screen_name=delphinegroll" target="_blank">Delphine</a></h4>
			<p>Relations presse</p>
                    </div>
                </div>
		<div class="clearfix visible-md-block"></div>
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
                        <img src="/assets/images/team/aude.png" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="https://www.facebook.com/aude.favre" target="_blank">Aude</a></h4>
			<p>Communication</p>
                    </div>
                </div>
		<div class="clearfix visible-md-block"></div>
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
                        <img src="/assets/images/team/nicolas.png" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="https://twitter.com/intent/user?screen_name=nicolas_colin" target="_blank">Nicolas</a></h4>
			<p>Stratégie</p>
                    </div>
                </div>
		<div class="clearfix visible-md-block"></div>
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
                        <img src="/assets/images/team/jm.png" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="https://fr.linkedin.com/in/jeanmarcnozeran" target="_blank">Jean-Marc</a></h4>
			<p>Intelligence collective</p>
                    </div>
                </div>
	    </div>
            <div class="row">
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
                        <img src="/assets/images/team/jf.png" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="https://sites.google.com/site/jflaslierhomepage/" target="_blank">Jean-Francois</a></h4>
			<p>Systèmes de vote</p>
                    </div>
                </div>
		<div class="clearfix visible-md-block"></div>
                <div class="col-lg-1 col-md-4" style="padding:0px;">
                    <div class="team-member">
                        <img src="/assets/images/team/arthur.png" class="img-responsive img-circle" alt="">
                    </div>
                </div>
                <div class="col-lg-2 col-md-8">
                    <div class="team-member desc">
                        <h4><a href="https://www.linkedin.com/pub/arthur-muller/13/640/5b1" target="_blank">Arthur</a></h4>
			<p>Campagnes électorales</p>
                    </div>
                </div>
	    </div>
        </div>
    </section>
