---
title: Foire aux Questions de La Primaire
footer: true
navbar: true
author: des citoyens ordinaires
description: Toutes les réponses aux questions que vous vous posez sur La Primaire.
---
    <header id="page-top">
	<div id="header_overlay" class="blue">
        <div class="container">
            <div class="row">
		    <div class="title">
			<h2>Foire aux Questions</h2>
		    </div>
	    </div>
        </div>
    </header>

    <section>
	    <div class="container">
		    <div class="row">
			    <div class="col-lg-12 faq">
				<h3><strong>A propos de la Primaire Démocratique Ouverte</strong></h3>
				<h4>Pourquoi organiser une Primaire Démocratique Ouverte ?</h4>
<!-- used doc to html converter : http://word2cleanhtml.com -->
<dd>
<p align="justify">
    A l’origine du projet, quatre éléments fondateurs :
</p>
<ul>
    <li>
        <p align="justify">
            <strong>Une immense frustration</strong>. La même frustration électorale partagée par plus de <u>9 français sur 10</u> qui <a href="http://www.cevipof.com/fr/le-barometre-de-la-confiance-politique-du-cevipof/resultats-1/vague6/vague6prime/" target="_blank">n'ont plus confiance dans les partis politiques</a>.
        </p>
    </li>
</ul>
<ul>
    <li>
        <p align="justify">
            <strong>Une perte de confiance</strong>. La confiance dans les politiques s’est érodée, lentement mais régulièrement, au fil des élections, des promesses non tenues, des scandales, de la
            défense trop visible d’intérêts particuliers au détriment de l’intérêt général. La plupart des politiques se sont enfermés dans une logique de
            carrière les ayant amenés à se déconnecter des citoyens et de leurs réelles attentes.
        </p>
    </li>
</ul>
<ul>
    <li>
        <p align="justify">
            <strong>Une crise de la représentativité</strong>. Si l’on additionne les adhérents des 3 partis majoritaires (LR, PS, FN), on comptabilise environ <a href="http://www.lemonde.fr/les-decodeurs/article/2015/09/22/des-republicains-au-ps-la-desertion-des-militants_4766932_4355770.html" target="_blank">365.000 adhérents</a> (selon leurs chiffres), ce qui signifie que <u>les partis politiques représentent environ 0,50% de la population française</u>. Or, notre démocratie étant
            organisée autour des partis, ils jouissent d’un monopole sur la désignation des candidats aux élections malgré leur faible représentativité.
        </p>
    </li>
</ul>
<ul>
    <li>
        <p align="justify">
            <strong>Une volonté d'insuffler un nouvel élan</strong>. Le système actuel de représentativité en place nous semble grippé et verrouillé. Notre souhait n'est pas de le remettre en cause en intégralité,
            mais de provoquer une métamorphose vertueuse : ré-impliquer les citoyens dans la vie démocratique, leur permettre d'avoir un impact direct et réel
            et créer une nouvelle passerelle durable entre la société civile et l'offre politique.
        </p>
    </li>
</ul>
</dd>

				<h4>Quel est l'objectif de la Primaire Démocratique Ouverte ?</h4>
<dd>
<p align="justify">
    L'objectif de la Primaire Démocratique Ouverte est multiple :
</p>
<ul>
    <li>
        <p align="justify">
            permettre un accès, une participation et une implication plus aisés de tous les citoyens français au débat démocratique ;
        </p>
    </li>
    <li>
        <p align="justify">
            encourager l'émergence de talents individuels, notamment issus de la société civile, et susciter des vocations politiques ;
        </p>
    </li>
    <li>
        <p align="justify">
            permettre aux citoyens français de choisir, en-dehors du cadre traditionnel des partis politiques, leurs candidats, et ce sans contrainte ni
            sélection préalable ;
        </p>
    </li>
    <li>
        <p align="justify">
            aider au renouveau et au dynamisme de l'offre politique ;
        </p>
    </li>
    <li>
        <p align="justify">
            restaurer le lien de confiance entre les citoyens et les élus.
        </p>
    </li>
</ul>
</dd>


				<h4>La Primaire Démocratique Ouverte est-elle affiliée à un mouvement ou parti politique ?</h4>
<dd>
<p align="justify">
    La Primaire Démocratique Ouverte n'est, directement ou indirectement, affiliée à <u>aucun</u> mouvement ou parti politique, et proche d'aucune tendance
    politique.
</p>
<p align="justify">
    La Primaire Démocratique Ouverte est strictement <u>apartisane</u> et entend simplement proposer à tous les citoyens français, quelques soient leurs idées,
    convictions ou attachements politiques, un outil technologique afin de leur permettre d’accéder sans contrainte au débat démocratique, s'exprimer,
    participer et choisir directement, en-dehors du cadre des partis politiques, le candidat de leur choix.
</p>
<p align="justify">
    Ce principe d'indépendance et de neutralité figure au <%= link_to("Règlement Intérieur",'/reglement') %> de l'Association.
</p>
</dd>

				<h4>Qui se cache derrière la Primaire Démocratique Ouverte ?</h4>

<dd>
<p align="justify">
    La Primaire Démocratique Ouverte est initiée et organisée par des citoyens ordinaires, intéressés par la politique, mais non militants ni adhérents à un
    quelconque parti politique.
</p>
<p align="justify">
    Plus spécifiquement, deux personnes sont à l'origine de cette initiative :
</p>
<ul>
    <li>
        <p align="justify">
            Thibauld Favre, ingénieur ;
        </p>
    </li>
    <li>
        <p align="justify">
            David Guez, avocat.
        </p>
    </li>
</ul>
</dd>

				<h4>Etes-vous de droite, de gauche, du centre ?</h4>
<dd>
<p align="justify">
    A titre personnel, et comme tout un chacun, les initiateurs du projet ont leurs propres opinions politiques.
</p>
<p align="justify">
    Pour autant, pour les besoins de la Primaire Démocratique Ouverte, ils ont pris l'engagement personnel de proposer un outil technologique strictement
    apartisan, au bénéfice de tous les citoyens français, et de ne favoriser, directement ou indirectement, aucune tendance politique.
</p>
<p align="justify">
    Par ailleurs, il est important de rappeler que demoratech ne porte aucun programme politique, ne concourt par à l’exercice du pouvoir, et s'est fixé comme
    unique objectif de mettre un outil technologique à la disposition de tous les citoyens français.
</p>
<p align="justify">
    Ce principe d'indépendance et de neutralité figure au <%= link_to("Règlement Intérieur",'/reglement') %> de l'Association.
</p>
</dd>
				<h4>Etes-vous pour un changement de nos institutions ?</h4>
<dd>
<p align="justify">
    democratech et ses dirigeants, en tant qu'initiateurs et organisateurs de la Primaire Démocratique Ouverte, ont un devoir de stricte neutralité et de réserve, et ne formulent, en conséquence, aucun avis à ce sujet.
</p>
</dd>
				<h4>Comment puis-je vous rejoindre et aider ?</h4>
<dd>
<p align="justify">
    L'organisation de la Primaire Démocratique Ouverte est un projet ambitieux et nous aurons effectivement besoin de toutes les énergies citoyennes.
</p>
<ul>
    <li>
        <p align="justify">
            Pour participer : <%= link_to("participer",'/participer') %>
        </p>
    </li>
    <li>
        <p align="justify">
            Pour faire un don : <%= link_to("faire un don",'https://www.helloasso.com/associations/democratech/collectes/la-primaire') %>
        </p>
    </li>
    <li>
        <p align="justify">
            Pour nous aider : <%= link_to("contribuer",'/contribuer') %>
        </p>
    </li>
</ul>
</dd>

				<h3><strong>Enjeux de la Primaire Démocratique Ouverte</strong></h3>
				<h4>Risque-t-on de voir un incompétent arriver à la tête du pays ?</h4>
<dd>
<p align="justify">
La personne qui sera issue de la Primaire Démocratique Ouverte aura été choisie par l’ensemble des citoyens inscrits et ayant participé à ladite primaire, et sera, de facto, représentative de leur volonté. Plus de citoyens seront inscrits sur la plate-forme, plus cette personne sera représentative.
</p>
<p align="justify">
Il convient de rappeler toutefois que la Primaire Démocratique Ouverte ne constitue pas l’élection présidentielle. Elle reste la voie pour les citoyens français de choisir, directement et en-dehors du cadre traditionnel des partis politiques, leur candidat. Ce candidat devra donc se présenter à l’élection présidentielle et seuls les résultats de cette élection confirmeront ou non le soutien des citoyens en sa faveur.
</p>
</dd>
				<h4>Est-ce que ce n’est pas le rôle de l’élite de diriger le pays ?</h4>
<dd>
<p align="justify">
Face à la difficulté croissance des défis à relever, notamment environnementaux, économiques, sociaux, financiers…, la France a besoin de l'ensemble de ses talents et pas seulement sur ceux issus d'un cursus dédié et ayant entraîné une professionnalisation de la politique.
</p>
</dd>
				<h4>En quoi l’organisation de la Primaire Démocratique Ouverte est-elle positive pour le pays ?</h4>
<dd>
<p align="justify">
La Primaire Démocratique Ouverte entend ré-impliquer les citoyens dans la vie démocratique, insuffler un nouvel élan à la vie politique française en faisant émerger de nouveaux talents, contribuer à restaurer le lien de confiance entre les citoyens et leurs représentants, et ce afin de doter la France d'un pouvoir politique et légitime fort, tant au niveau national qu'international.
</p>
</dd>
				<h4>Comment s’assurer que le processus de sélection soit efficace et démocratique ?</h4>
<dd>
<p align="justify">
Nous avons, avec l’aide de notre Comité scientifique, réfléchi et élaboré un processus de sélection qui nous semble neutre, apartisan, démocratique et ouvert. Si aucun système de vote n’est parfait, nous estimons que le processus de sélection que nous proposons favorise l’accès de tous, nonobstant sa notoriété, tout en limitant les candidatures fantaisistes, et limite les éventuelles manipulations (notamment, instructions de vote, lobbying, achat de vote).
</p>
<p align="justify">
Le processus de sélection est présenté et explicité <%= link_to("ici",'/processus') %>.
</p>
</dd>
				<h3><strong>Calendrier et déroulement de la Primaire Démocratique Ouverte</strong></h3>
				<h4>A quelle date seront ouvertes les inscriptions à la Primaire Démocratique Ouverte ?</h4>
<dd>
<p align="justify">
    Les inscriptions à la Primaire Démocratique Ouverte seront ouvertes le 1er février 2016.
</p>
<p align="justify">
    Le calendrier prévisionnel de la Primaire Démocratique Ouverte figure <%= link_to("ici",'/processus') %>. Il se peut toutefois que le calendrier évolue légèrement, notamment au
    regard des contraintes technologiques. Bien entendu, nous ne manquerons pas de vous tenir informés de toute modification.
</p>
</dd>
				<h4>Où puis-je m’inscrire pour participer à la Primaire Démocratique Ouverte ?</h4>
<dd>
<p align="justify">
    Les inscriptions à la Primaire Démocratique Ouverte se feront principalement au moyen de l'application "LaPrimaire.org" qui sera disponible en versions
    IOS, Android, Mac et PC.
</p>
<p align="justify">
    Nous réfléchissons également aux modalités permettant aux citoyens ne disposant pas ou n’étant pas familiarisés avec les ordinateurs et/ou téléphones
    mobiles intelligents de pouvoir s'inscrire et de participer autrement à la Primaire Démocratique Ouverte.
</p>
</dd>
			    <h4>L’inscription ou la participation à la Primaire Démocratique Ouverte est-elle payante ?</h4>
<dd>
<p align="justify">
    L'inscription et la participation à la Primaire Démocratique Ouverte sont entièrement gratuites.
</p>
<p align="justify">
    L’organisation de la Primaire Démocratique Ouverte supposant toutefois d’engager des frais importants (notamment communication, organisation d’évènements
    locaux, transports, développement technologique…), vous pouvez, si vous le souhaitez, nous aider et contribuer financièrement <%= link_to("réalisant un don",'/financer') %>.
</p>
</dd>
			    <h4>Comment se déroulera la Primaire Démocratique Ouverte</h4>
<dd>
<p align="justify">
    Le calendrier prévisionnel et les règles de la Primaire Démocratique Ouverte sont décrits <%= link_to("ici",'/processus') %>.
</p>
</dd>
			    <h4>Où se déroulera la Primaire Démocratique Ouverte ?</h4>
<dd>
<p align="justify">
    La Primaire Démocratique Ouverte se déroulera principalement en ligne, via l’application "LaPrimaire.org". Nous réfléchissons toutefois à proposer une
    solution alternative pour les citoyens ne disposant pas ou n’étant pas familiarisés avec les ordinateurs et/ou téléphones mobiles intelligents afin que le
    plus grand nombre de citoyens puisse participer à la Primaire Démocratique Ouverte.
</p>
</dd>
			    <h4>Quand est-ce que la Primaire Démocratique Ouverte démarrera ?</h4>
<dd>
<p align="justify">
    Le calendrier prévisionnel de la Primaire Démocratique Ouverte figure <%= link_to("ici",'/processus') %>. Il se peut toutefois que le calendrier évolue légèrement, notamment au
    regard des contraintes technologiques. Bien entendu, nous ne manquerons pas de vous tenir informés de toute modification.
</p>
</dd>
			    <h4>Que se passera-t-il après la Primaire Démocratique Ouverte ?</h4>
<dd>
<p align="justify">
    A l’issue de la Primaire Démocratique Ouverte, nous assisterons le candidat qui en sera issu dans le cadre de sa candidature à l'élection présidentielle de
    2017, notamment :
</p>
<ul>
    <li>
        <p align="justify">
            nous lui apporterons les 500 signatures nécessaires à l'enregistrement officiel de sa candidature ;
        </p>
    </li>
    <li>
        <p align="justify">
            nous l'assisterons dans la création de son parti politique (création d'une association et d'une association de financement) ;
        </p>
    </li>
    <li>
        <p align="justify">
            nous l'assisterons dans le cadre du financement de sa campagne.
        </p>
    </li>
</ul>
</dd>
            <h4>Que se passera-t-il après l’élection présidentielle ?</h4>
<dd>
<p align="justify">
    <em>A minima</em>
    , nous espérons démontrer qu'il est possible pour tout citoyen français désireux de s’impliquer dans la vie démocratique française de pouvoir s’exprimer,
    d’être entendu, de participer au débat politique, et de créer un véritable lien direct entre la société civile et le monde politique, en-dehors du cadre
    traditionnels des partis politiques.
</p>
<p align="justify">
    Ensuite, nous espérons que le candidat issu de la Primaire Démocratique Ouverte pourra peser véritablement dans le cadre de l'élection présidentielle de
    2017.
</p>
<p align="justify">
    Enfin, peut-être que le candidat issu de la Primaire Démocratique Ouverte s’installera à l'Elysée... Cela dépend uniquement de VOUS.
</p>
</dd>

				<h3><strong>Participer à la Primaire Démocratique Ouverte</strong></h3>
				<h4>Qui peut participer à la Primaire Démocratique Ouverte ?</h4>
<dd>
<p align="justify">
    Au titre de l'Article 3, <em>in fine</em>, de la Constitution du 4 octobre 1958, "
    <em>
        Sont électeurs, dans les conditions déterminées par la loi, tous les nationaux français majeurs des deux sexes, jouissant de leurs droits civils et
        politiques
    </em>
    ".
</p>
<p align="justify">
    En application de ces dispositions, les conditions pour participer à la Primaire Démocratique Ouverte sont les suivantes :
</p>
<ul>
    <li>
        <p align="justify">
            disposer de la <a href="http://www.vie-publique.fr/th/glossaire/nationalite.html">nationalité</a> française ;
        </p>
    </li>
    <li>
        <p align="justify">
            avoir 18 ans révolus ;
        </p>
    </li>
    <li>
        <p align="justify">
            jouir de ses droits civils et politiques (exclusion, par exemple, selon décision de justice, de certains majeurs sous tutelle et des personnes
            condamnées et privées de leur droit de vote de façon temporaire) ;
        </p>
    </li>
    <li>
        <p align="justify">
            être inscrit sur les listes électorales.
        </p>
    </li>
</ul>
</dd>
            <h4>Quelles sont les conditions pour s’inscrire à la Primaire Démocratique Ouverte en qualité de candidat ?</h4>
<dd>
<p align="justify">
    En application des dispositions de l'Article LO 127 du Code électoral, peut être candidat à l'élection présidentielle "
    <em>
        Toute personne qui, à la date du premier tour de scrutin, remplit les conditions pour être électeur et n'entre dans aucun des cas d'inéligibilité (..)
    </em>
    ".
</p>
<p align="justify">
    Les conditions pour participer à la Primaire Démocratique Ouverte en qualité de candidat sont donc les suivantes :
</p>
<ul>
    <li>
        <p align="justify">
            disposer de la <a href="http://www.vie-publique.fr/th/glossaire/nationalite.html">nationalité</a> française ;
        </p>
    </li>
    <li>
        <p align="justify">
            avoir 18 ans révolus ;
        </p>
    </li>
    <li>
        <p align="justify">
            être électeur (cf. § ci-avant) ;
        </p>
    </li>
    <li>
        <p align="justify">
            ne pas être privé de ses droits d’éligibilité par une décision de justice (art. L. 6 et L. 199) ;
        </p>
    </li>
    <li>
        <p align="justify">
            ne pas être placé sous tutelle ou sous curatelle (art. L. 200) ;
        </p>
    </li>
    <li>
        <p align="justify">
            avoir satisfait aux obligations imposées par le code du service national (art. L 45) ;
        </p>
    </li>
    <li>
        <p align="justify">
            faire preuve de "dignité morale", cette notion n’étant pas précisément définie.
        </p>
    </li>
</ul>
</dd>
            <h4>Les partis politiques traditionnels peuvent-ils inscrire des candidats ?</h4>
<dd>
<p align="justify">
    Bien que la Primaire Démocratique Ouverte soit avant tout destinée à permettre aux talents de la société civile de s'exprimer, de participer et de se
    porter candidats, nous n'interdisons aucunement aux membres des partis politiques, connus ou non, de s'inscrire à la Primaire Démocratique Ouverte. Nous
    estimons, en effet, que la France doit pouvoir compter sur l’ensemble de ses talents et sommes dans une démarche la plus ouverte possible.
</p>
</dd>
            <h4>Interdirez-vous à certaines personnes de s’inscrire ou de participer à la Primaire Démocratique Ouverte ?</h4>
<dd>
<p align="justify">
    La Primaire Démocratique Ouverte est ouverte à tous, quelque soit ses idées, convictions, affinités politiques.
</p>
<p align="justify">
    Toutefois, nous demanderons à tous les candidats de respecter une Charte du candidat (non encore finalisée).
</p>
</dd>
            <h4>Comment m’inscrire ?</h4>
<dd>
<p align="justify">
    L'inscription se fera en <%= link_to("téléchargeant l'application La Primaire",'/participer') %> et en suivant les instructions figurant au sein de ladite application.
</p>
</dd>
			    </div>
		    </div>
	    </div>
    </section>

