<!DOCTYPE html>
<html lang="fr">
<head>
      <%= render "head" %>
</head>
<body class="index">
<div id="fb-root"></div>
      <%= render "navbar" %>

      <%= render "page_candidat" %>

      <%= render "footer" %>
  </body>
</html>
