<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= "#{@item[:description]}" if @item[:description] %>">
    <meta name="author" content="<%= "#{@item[:author]}" if @item[:author] %>">
    <meta property="og:title" content="Choisissons nos candidats citoyens pour les prochaines élections"/>
    <meta property="og:site_name" content="democratech"/>
<!-- DO NOT CHANGE THE URL BELOW TO HTTPS OR IT WILL CAUSE THE FB BUTTON TO LOSE ALL LIKES -->
    <meta property="og:url" content="http://democratech.co"/> 
<!-- DO NOT CHANGE THE URL ABOVE TO HTTPS OR IT WILL CAUSE THE FB BUTTON TO LOSE ALL LIKES -->
    <meta property="fb:app_id" content="115809635110050"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:description" content="Rassemblement des citoyens déçus et lassés des politiques français et qui souhaitent redonner du sens aux élections en soutenant et participant à une grande primaire citoyenne, apartisane, ouverte, en 2017 afin d'élire le candidats de tous les Français."/>
    <meta property="og:image" content="https://democratech.co/assets/images/crowd-image-800x480.jpg"/>
    <meta property="og:image:secure_url" content="https://democratech.co/assets/images/crowd-image-800x480.jpg"/>
    <meta name="twitter:image:src" content="https://democratech.co/assets/images/crowd-image-800x480.jpg">
    <meta name="twitter:widgets:csp" content="on">
    <title><%= "#{@item[:title]}" if @item[:title] %></title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <% if @config[:debug] %>
    <% for file in @config[:stylesheets] %>
    <link rel="stylesheet" type="text/css" href="/assets/style/<%= File.basename(file,".*") %>.css">
    <% end %>
    <% else %><link rel="stylesheet" type="text/css" href="/assets/style/all.css"><% end %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="https://democratech.co">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="index">
<div id="fb-root"></div>

      <%= yield %>

      <% if @item[:footer] %>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="/docs/20150831-statuts-democratech.odt" target="_blank">Statuts</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a target="_blank" href="https://twitter.com/intent/user?screen_name=democratech"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a class="facebook-follow" data-orig="bottom-icon" target="_blank" href="https://facebook.com/candidatcitoyen2017"><i class="fa fa-facebook"></i></a>
                        </li>
                        <!--<li><a target="_blank" href="http://linkedin.com/democratech"><i class="fa fa-linkedin"></i></a>
                        </li>-->
                        <li><a target="_blank" href="https://github.com/democratech"><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="/docs/20150623_CP_Fondateur.pdf" target="_blank">Communiqué de presse</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <% end %>

<% if @config[:debug] %>
<% for file in @config[:scripts] %><script src="/assets/scripts/<%= file %>.js"></script>
<% end %>
<% else %>
<script src="/assets/scripts/all.js"></script>
<% end %>
  </body>
</html>
