    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-inline quicklinks">
                        <li><a href="/docs/20150831-statuts-democratech.odt" target="_blank">Statuts</a>
                        </li>
                        <li><a href="/docs/20151015-reglement-interieur-democratech.odt" target="_blank">Règlement Intérieur</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline social-buttons">
                        <li><a target="_blank" href="https://twitter.com/intent/user?screen_name=democratech"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a class="facebook-follow" data-orig="bottom-icon" target="_blank" href="https://facebook.com/LaPrimaire/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a target="_blank" href="https://linkedin.com/company/democratech"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a target="_blank" href="https://github.com/democratech"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a target="_blank" href="https://instagram.com/laprimaire/"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li><a target="_blank" href="https://flickr.com/photos/laprimaire/"><i class="fa fa-flickr"></i></a>
                        </li>
                        <li><a target="_blank" href="http://laprimaire.tumblr.com"><i class="fa fa-tumblr"></i></a>
                        </li>
                        <li><a target="_blank" href="https://plus.google.com/communities/107477166961681845852"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li><a target="_blank" href="https://medium.com/@democratech"><i class="fa fa-medium"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-inline quicklinks">
                        <li><a href="/legal">Notice légale</a>
                        </li>
                        <li><a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

<% if @config[:debug] %>
<% for file in @config[:scripts] %><script src="/assets/scripts/<%= file %>.js"></script>
<% end %>
<% else %>
<script src="/assets/scripts/all.js"></script>
<% end %>

