<% if @item[:democratol] and not @config[:debug] %>
<footer class="hidden-xs" style="padding: 0px;background-color:white;border-top: 1px solid red;">
        <div class="container">
		<div class="row" style="margin:0px auto; width:300px;">
		    <div class="col-xs-12 col-md-6" style="text-align:center;padding:3px;margin-top:4px;">
			<a href="https://twitter.com/intent/tweet" class="twitter-share-button" data-text="Découvrez le Democratol, LE remède contre la frustration électorale !" data-hashtags="démocratie" data-url="https://laprimaire.org/democratol/"></a>
		    </div>
		    <div class="col-xs-12 col-md-6" style="text-align:center;padding:5px;">
			<div class="fb-share-button" data-href="https://laprimaire.org/democratol/" data-layout="button"></div>
		    </div>
		</div>
        </div>
    </footer>
<% end %>

    <!-- Modal -->
    <div class="modal fade" id="JoinUsNow" tabindex="-1" role="dialog" aria-labelledby="shareByEmail">
	      <div class="modal-dialog" role="document">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <h4 class="modal-title" id="shareByEmail">Je souhaite voter au 2nd tour de LaPrimaire.org</h4>
	          </div>
		  <div class="modal-body">
			  <p style="font-size:14px;">Laissez-nous vos coordonnées pour recevoir votre lien de vote personnel:</p>
			  <div id="wufoo-q4emv9q14p6f33">
				  Remplissez ce <a href="https://democratech.wufoo.com/forms/q4emv9q14p6f33">formulaire en ligne</a>.
			  </div>
			  <!--<p style="font-size:14px;">Merci beaucoup, nous avons besoin de tous les citoyens pour faire émerger une candidature citoyenne forte qui soit capable de changer la donne en 2017 !</p>
			  <div id="wufoo-qaj8t6m07xo97p">
				  Remplissez ce <a href="https://democratech.wufoo.com/forms/qaj8t6m07xo97p">formulaire en ligne</a>.
			  </div>-->
	          </div>
	          <div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
	          </div>
	        </div>
	      </div>
      </div>

    <!-- Modal -->
    <div class="modal fade" id="VoteNow" tabindex="-1" role="dialog" aria-labelledby="shareByEmail">
	      <div class="modal-dialog" role="document">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <h4 class="modal-title" id="shareByEmail">Je souhaite participer à LaPrimaire.org</h4>
	          </div>
		  <div class="modal-body">
			  <div class="g-recaptcha" data-sitekey="6LerRQoUAAAAAC9ONne90Z4aoqrlMnzYSTO4AvV7"></div>
	          </div>
	        </div>
	      </div>
      </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/1e37fa74cb.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<% if @config[:debug] %>
<script src="/assets/scripts/fb_ga_tw.js"></script>
<script src="/assets/scripts/ga_events.js"></script>
<script src="/assets/scripts/goalProgress.js"></script>
<% else %>
<script src="/assets/scripts/application.js"></script>
<% end %>
<script type="text/javascript">
function createCookie(name,value) {
	var date = new Date();
	date.setTime(date.getTime()+(5*60*1000)); // 5 minutes
	var expires = "; expires="+date.toGMTString();
	document.cookie = name+"="+value+expires+"; path=/";
}

function readCookie(name) {
	var nameEQ = name + "=";
	var ca = document.cookie.split(';');
	for(var i=0;i < ca.length;i++) {
		var c = ca[i];
		while (c.charAt(0)==' ') c = c.substring(1,c.length);
		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
	}
	return null;
}

function eraseCookie(name) {
	createCookie(name,"",-1);
}

function getURLParameter(name) {
	return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||""
}

<% if @item.identifier.chop == '/faq' %>
/* FAQ show/hide */
$(document).ready(function(){
	$('.faq dd').hide(); // Hide all DDs inside .faqs
	$('.faq h4').hover(function(){$(this).addClass('hover')},function(){$(this).removeClass('hover')}).click(function(){ // Add class "hover" on dt when hover
		$(this).next().slideToggle('normal'); // Toggle dd when the respective dt is clicked
	}); 
});


<% elsif @item.identifier.chop == '/financer' %>
/* Crowdfunding bar */
$(document).ready(function(){
	var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
	var now = new Date();
	var firstDate = (new Date(2015,12,31)).getTime();
	var secondDate= (new Date(now.getFullYear(),now.getMonth()+1,now.getDate())).getTime();
	var diffDays = Math.round(Math.abs((firstDate - secondDate)/(oneDay)));
	amount=readCookie('amount_raised');
	donateurs=readCookie('nb_donateurs');
	if (amount==null || donateurs==null) {
		$.get("https://api.democratech.co/v1/stripe/total", function( data ){
			amount=data['total'];
			donateurs=data['nb_donateurs'];
			createCookie('amount_raised',amount);
			createCookie('nb_donateurs',donateurs);

			$('#financement_bar').goalProgress({
				goalAmount: 100000,
				currentAmount: amount,
				textBefore: '',
				textAfter: ' €'
			});
			$('#fundraising_figures').html(amount+" € dons<br/>"+donateurs+" donateurs");
			$('#nb_days_left').html(diffDays);

		});
	} else {
		$('#financement_bar').goalProgress({
			goalAmount: 100000,
			currentAmount: amount,
			textBefore: '',
			textAfter: ' €'
		});
		$('#fundraising_figures').html(amount+" € dons<br/>"+donateurs+" donateurs");
		$('#nb_days_left').html(diffDays);
	}
});

<% elsif @item.identifier.chop == '/partager' %>
</script>
<script src="https://apis.google.com/js/platform.js"></script>
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
<script>
<% elsif @item.identifier.chop == '/10000' %>
</script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
$(function() {
	$( "#slider_jan" ).slider({
		value:20000,
		min: 16000,
		max: 24000,
		step: 1000,
		slide: function( event, ui ) {
			$( "#jan" ).val(ui.value );
			$( "#jan_bis" ).text(ui.value );
			updateChart();
		}
	});
	var t=$( "#slider_jan" ).slider( "value" );
	$( "#jan" ).val( $( "#slider_jan" ).slider( "value" ) );
	$( "#jan_bis" ).text( $( "#slider_jan" ).slider( "value" ) );
	var t=document.getElementById("jan").value;
	$( "#slider_actifs" ).slider({
		value:50,
		min: 10,
		max: 100,
		step: 10,
		slide: function( event, ui ) {
			$( "#actifs" ).val(ui.value );
			$( "#actifs_bis" ).text(ui.value+"%" );
			updateChart();
		}
	});
	$( "#actifs" ).val( $( "#slider_actifs" ).slider( "value" ) );
	$( "#actifs_bis" ).text( $( "#slider_actifs" ).slider( "value" )+"%" );
	$( "#slider_add" ).slider({
		value:1,
		min: 1,
		max: 10,
		step: 1,
		slide: function( event, ui ) {
			$( "#add" ).val(ui.value );
			$( "#add_bis" ).text(ui.value );
			updateChart();
		}
	});
	$( "#add" ).val( $( "#slider_add" ).slider( "value" ) );
	$( "#add_bis" ).text( $( "#slider_add" ).slider( "value" ) );
	updateChart();
});

function updateChart(jan,add,log) {
	var jan=parseInt(document.getElementById("jan").value);
	var add=parseInt(document.getElementById("add").value);
	var actifs=parseInt(document.getElementById("actifs").value)/100;
	var log=false;

	var data=[356,694,818,1244,1893,2661,7048,13050];
	var labels=["juin","juil","août","sept","oct","nov","dec","jan"];
	var avenir=["février","mars","avril","mai","juin","juillet","août","septembre","octobre","novembre","décembre"];
	var all=["juin", "juillet","août","septembre","octobre","novembre","décembre","janvier","février","mars","avril","mai","juin","juillet","août","septembre"];
	var t=jan;
	var i=0;
	data.push(t);
	labels.push(avenir[i]);
	var m1=null;
	var m2=null;
	var m3=null;
	while (i<10) {
		i+=1;
		t=t+t*actifs*add;
		if ((!m1 || !m2) && i<8) {
			data.push(t);
			labels.push(avenir[i]);
		}
		if (!m1 && t>100000) {
			m1=avenir[i];
			$("#m1").text(m1);
		} else if (!m2 && t>500000) {
			m2=avenir[i];
			$("#m2").text(m2);
			$("#m2_div").show();
		} else if (!m3 && t>1000000) {
			m3=avenir[i];
			$("#m3").text(m3);
			$("#m3_div").show();
		}

	}
	if (!m2) {
		$("#m2_div").hide();
	}
	if (!m3) {
		$("#m3_div").hide();
	}
	var data = {
	type: 'line',
	      data: {
		labels: all,
		datasets: [{
		       label: "Nb citoyens inscrits",
		       backgroundColor: "rgba(82,123,221,0.5)",
		       borderColor: "rgba(82,123,221,0.8)",
		       pointBackgroundColor: "rgba(82,123,221,0.5)",
		       pointBorderColor: "rgba(82,123,221,0.8)",
		       pointHoverBackgroundColor: "rgba(82,123,221,0.75)",
		       pointHoverBorderColor: "rgba(82,123,221,1)",
		       data: data
		}]
	      }
	};
	Chart.defaults.scale.ticks.max=600000;
	Chart.defaults.global.responsive=true;
	Chart.defaults.global.events=[];
	if (log==true) {
		Chart.defaults.line.scales.yAxes[0].type='logarithmic';
	}
	var ctx = document.getElementById("myChart");
	var myNewChart = new Chart(ctx,data);
}
<% elsif @item.identifier.chop == '/appel-aux-maires' %>
$(document).ready(function(){
	var app_stats=readCookie('maires');
	if (app_stats==null) {
		$.get("https://api.democratech.co/v1/app/maires", function( data ){
			var nb_maires=data['nb_maires'];
			var nb_signatures=data['nb_signatures'];
			createCookie('maires',JSON.stringify({nb_maires: nb_maires, nb_signatures: nb_signatures}));
			var supporteurs=nb_signatures;
			$('#appelauxmaires_bar').goalProgress({
				goalAmount: 10000,
				currentAmount: supporteurs,
				textBefore: '',
				textAfter: " / 10000 signataires"
			});
		});
	} else {
		data=JSON.parse(app_stats);
		var nb_maires=data['nb_maires'];
		var nb_signatures=data['nb_signatures'];
		var supporteurs=nb_signatures;
		$('#appelauxmaires_bar').goalProgress({
			goalAmount: 10000,
			currentAmount: supporteurs,
			textBefore: '',
			textAfter: " / 10000 signataires"
		});
	}
});
<% elsif @item.identifier.chop == '/toutes-candidates' %>
$(document).ready(function(){
	var app_stats=readCookie('candidates');
	if (app_stats==null) {
		$.get("https://api.democratech.co/v1/app/candidates", function( data ){
			var nb_signatures=data['nb_signatures'];
			createCookie('candidates',JSON.stringify({nb_signatures: nb_signatures}));
			var supporteurs=nb_signatures;
			$('#toutescandidates_bar').goalProgress({
				goalAmount: 1000,
				currentAmount: supporteurs,
				textBefore: '',
				textAfter: " / 1000 signataires"
			});
		});
	} else {
		data=JSON.parse(app_stats);
		var nb_signatures=data['nb_signatures'];
		var supporteurs=nb_signatures;
		$('#toutescandidates_bar').goalProgress({
			goalAmount: 1000,
			currentAmount: supporteurs,
			textBefore: '',
			textAfter: " / 1000 signataires"
		});
	}
});

<% elsif @item.identifier.chop=='/inscription-ok' or @item.identifier.chop=='/inscription-vote-1er-tour' %>
</script>
<script src="https://apis.google.com/js/platform.js"></script>
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: fr_FR</script>
<script>
/* <![CDATA[ */
    var google_conversion_id = 874865105;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "RM3qCLra42kQ0cOVoQM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
	    <div style="display:inline;">
		    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/874865105/?label=RM3qCLra42kQ0cOVoQM&amp;guid=ON&amp;script=0"/>
	    </div>
    </noscript>
    <script>
<% elsif @item.identifier.chop=='/adherer' %>
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
<script>
$(document).ready(function(){
		var email=getURLParameter('e');
		var firstname=getURLParameter('f');
		var lastname=getURLParameter('l');
		if (email!="") { $('#vads_cust_email').val(email); }
		if (firstname!="") { $('#vads_cust_first_name').val(firstname); }
		if (lastname!="") { $('#vads_cust_last_name').val(lastname); }
		$('#free_amount').on('input', function () {
			var don=parseInt($(this).val());
			if (!!!don) {
				$('#free_amount').val("0");
				$('#free_amount_btn').attr('total',"0");
				$('#free_amount_btn').html('0€');
				$('#free_amount_btn').addClass('disabled');
			} else {
				$('#free_amount').val(don.toString());
				$('#free_amount_btn').attr('total',don.toString());
				$('#free_amount_btn').html((don/3).toFixed(2).toString()+'€');
				$('#free_amount_btn').removeClass('disabled');
			}
		});
		$('.btn.donate').on('click', function () {
			var total=parseInt($(this).attr('total'));
			$('#vads_amount').val(total*100);
			if (total<50) {
				$('#vads_threeds_mpi').val(2);
			} else {
				$('#vads_threeds_mpi').val(0);
			}
		});
		$('button[type="submit"]').click(function(e){
			e.preventDefault();
			var utc_timestamp=moment.utc().format('YYYYMMDDHHmmss');
			$('#vads_trans_date').val(utc_timestamp);
			$.post("https://api.democratech.co/v1/payment/transaction",{
				'vads_cust_email':$('#vads_cust_email').val(),
				'vads_action_mode':$('#vads_action_mode').val(),
				'vads_amount':$('#vads_amount').val(),
				'vads_ctx_mode':$('#vads_ctx_mode').val(),
				'vads_currency':$('#vads_currency').val(),
				'vads_page_action':$('#vads_page_action').val(),
				'vads_payment_config':$('#vads_payment_config').val(),
				'vads_site_id':$('#vads_site_id').val(),
				'vads_trans_date':$('#vads_trans_date').val(),
				'vads_trans_id':$('#vads_trans_id').val(),
				'vads_version':$('#vads_version').val(),
				'vads_return_mode':$('#vads_return_mode').val(),
				'vads_language':$('#vads_language').val(),
				'vads_return_mode':$('#vads_return_mode').val(),
				'vads_theme_config':$('#vads_theme_config').val(),
				'vads_redirect_error_message':$('#vads_redirect_error_message').val(),
				'vads_redirect_error_timeout':$('#vads_redirect_error_timeout').val(),
				'vads_redirect_success_message':$('#vads_redirect_success_message').val(),
				'vads_redirect_success_timeout':$('#vads_redirect_success_timeout').val(),
				'vads_cust_first_name':$('#vads_cust_first_name').val(),
				'vads_cust_last_name':$('#vads_cust_last_name').val(),
				'vads_cust_address':$('#vads_cust_address').val(),
				'vads_cust_zip':$('#vads_cust_zip').val(),
				'vads_cust_city':$('#vads_cust_city').val(),
				'vads_cust_state':$('#vads_cust_state').val(),
				'vads_capture_delay':$('#vads_capture_delay').val(),
				'vads_validation_mode':$('#vads_validation_mode').val(),
				'vads_cust_country':$('#vads_cust_country').val(),
				'vads_threeds_mpi':$('#vads_threeds_mpi').val(),
				'vads_url_success':$('#vads_url_success').val(),
				'vads_url_error':$('#vads_url_error').val(),
				'vads_url_refused':$('#vads_url_refused').val(),
				'vads_url_cancel':$('#vads_url_cancel').val()
			})
			.done(function(data) {
				var data=JSON.parse(data);
				$('#signature').val(data['signature']);
				$('#vads_trans_id').val(data['transaction_id']);
				$('#vads_order_id').val(data['order_id']);
				$('#vads_cust_email').val(data['email']);
				$('form').submit();
			})
			.fail(function(data) {
				alert("Une erreur est survenue. Merci d'avance de nous reporter le problème à contact@laprimaire.org");
			});
		});
		var amount=readCookie('donations');
		var donateurs=readCookie('nb_adherents');
		if (amount==null || donateurs==null) {
			$.get("https://api.democratech.co/v1/payment/total", function( data ){
				amount=data['total'];
				donateurs=data['nb_adherents'];
				createCookie('donations',amount);
				createCookie('nb_adherents',donateurs);
				$('#financement_bar').goalProgress({
					goalAmount: 10000,
					currentAmount: donateurs,
					textBefore: '',
					textAfter: ''
				});
				$('#fundraising_figures').html(amount+" € dons<br/>"+donateurs+" adhérents");

			});
		} else {
			$('#financement_bar').goalProgress({
				goalAmount: 10000,
				currentAmount: donateurs,
				textBefore: '',
				textAfter: ''
			});
			$('#fundraising_figures').html(amount+" € dons<br/>"+donateurs+" adhérents");
		}
});
<% elsif @item.identifier.chop=='/qualifies' %>
$(document).ready(function(){
	/* $("div.lazy").lazyload({effect:"fadeIn"});*/
	function loadFacebook() {
		if (typeof (FB) != 'undefined') { FB.init({ status: true, cookie: true, xfbml: true, version: 'v2.4' }); }
	}
	function loadTwitter() {
		if (typeof (twttr) != 'undefined'){ twttr.widgets.load(); }
	}
	$("#charlotte").click(function() {
			$("#charlotte").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Charlotte Marchandise (@MarCharlott), qualifiée pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech,MarCharlott" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#maxime").click(function() {
			$("#maxime").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Maxime Verner (@maximeverner), qualifié pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech,maximeverner" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#jeanmichel").click(function() {
			$("#jeanmichel").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Jean-Michel Billaut (@billaut), qualifié pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech,billaut" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#roxane").click(function() {
			$("#roxane").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Roxane Revon (@RoxaneRevon), qualifiée pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech,RoxaneRevon" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#alexandre").click(function() {
			$("#alexandre").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Alexandre Lecouillard, qualifié pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#ariane").click(function() {
			$("#ariane").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Ariane Vitalis (@ArianeVitalis), qualifiée pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech,ArianeVitalis" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#philippe").click(function() {
			$("#philippe").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Philippe Mazuel (@MAZUEL_2017), qualifié pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech,MAZUEL_2017" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#regis").click(function() {
			$("#regis").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Régis André, qualifié pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#daniel").click(function() {
			$("#daniel").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Daniel Bussard (@BussardDaniel), qualifié pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech,BussardDaniel" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#michael").click(function() {
			$("#michael").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Michael Pettini, qualifié pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#nicolas").click(function() {
			$("#nicolas").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Nicolas Bernabeu, qualifié pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#ramin").click(function() {
			$("#ramin").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Ramïn Farhangi, qualifié pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#michel").click(function() {
			$("#michel").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Michel Bourgeois (@14JUILLET2017), qualifié pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech,14JUILLET2017" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#jeanmarc").click(function() {
			$("#jeanmarc").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Jean-Marc Fortané, qualifié pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#thomas").click(function() {
			$("#thomas").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Thomas Nonnez, qualifié pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
	$("#pauline").click(function() {
			$("#pauline").parent().html('<a class="fb-xfbml-parse-ignore fb-share-button" data-href="https://laprimaire.org/qualifies/" data-layout="button_count" data-size="large" data-mobile-iframe="true" target="_blank" href="https://laprimaire.org/qualifies/">Facebook</a>&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Bravo Pauline Lejeune, qualifiée pour LaPrimaire.org !" data-url="https://laprimaire.org/qualifies/" data-hashtags="NousPresident" data-related="democratech" data-lang="fr" data-show-count="true">Tweet</a>');
			 loadTwitter();
			 loadFacebook();
	});
});
<% elsif @item.identifier == '/' %>
    </script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script>
/* Supporteurs bar */
$(document).ready(function(){
		var cparent = $("#liste_candidats");
		var divs = cparent.children();
		var i=1;
		while (divs.length) {
			cparent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
			/* Uncomment if more than 5 candidates 
			parent.append('<div class="clearfix visible-xs-block"></div>');
			if ((i % 2)==0) {
				parent.append('<div class="clearfix visible-sm-block"></div>');
			}
			if ((i % 4)==0) {
				parent.append('<div class="clearfix visible-md-block"></div>');
			}*/
			i+=1;
		}
		cparent.prepend("<div class='col-md-1 hidden-xs hidden-sm'>&nbsp;</div>");
		cparent.append("<div class='col-md-1 hidden-xs hidden-sm'>&nbsp;</div>");
		$('.carroussel').slick({
			slidesToShow: 3,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 4000,
			infinite: true,
			arrows: true,
			dots: false,
			initialSlide: 0,
			lazyLoad: 'ondemand',
			responsive: [
				{
				breakpoint: 1200,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 1,
					}
				},
				{
				breakpoint: 768,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 1,
					arrows: false,
					dots: true
					}
				},
				{
				breakpoint: 650,
				settings: {
					slidesToShow: 1,
					slidesToScroll: 1,
					arrows: false,
					dots: true
					}
				}
			]
		});
});
<% end %>
</script>

