    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= "#{@item[:description]}" if @item[:description] %>">
    <meta name="author" content="<%= "#{@item[:author]}" if @item[:author] %>">
    <meta property="og:title" content="La Primaire Democratique Ouverte pour les elections de 2017 - LaPrimaire.org"/>
    <meta property="og:site_name" content="LaPrimaire.org"/>
    <meta property="og:url" content="https://laprimaire.org"/> 
    <meta property="fb:app_id" content="115809635110050"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:description" content="LaPrimaire.org est une Primaire Democratique Ouverte organisee hors des partis politiques pour les elections de 2017. La Primaire vise a rassembler les citoyens déçus et lassés des politiques français et qui souhaitent redonner du sens aux élections en soutenant et participant à une grande primaire citoyenne, apartisane, ouverte, en 2017 afin d'élire le candidats de tous les Français."/>
    <meta property="og:image" content="https://democratech.co/assets/images/crowd-image-800x480.jpg"/>
    <meta property="og:image:secure_url" content="https://democratech.co/assets/images/crowd-image-800x480.jpg"/>
    <meta name="twitter:image:src" content="https://democratech.co/assets/images/crowd-image-800x480.jpg">
    <meta name="twitter:widgets:csp" content="on">
    <title><%= "#{@item[:title]}" if @item[:title] %></title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <% if @config[:debug] %>
    <% for file in @config[:stylesheets] %>
    <link rel="stylesheet" type="text/css" href="/assets/style/<%= File.basename(file,".*") %>.css">
    <% end %>
    <% else %><link rel="stylesheet" type="text/css" href="/assets/style/all.css"><% end %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="https://laprimaire.org">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
