    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% if !@item[:redirect_url].nil? %>
    <meta http-equiv="refresh" content="0; url=<%= @item[:redirect_url] %>" />
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= @item[:description].nil? ? "LaPrimaire.org est une Primaire Démocratique Ouverte organisée hors des partis politiques pour les élections de 2017. La Primaire vise à rassembler les citoyens déçus et lassés des politiques et qui souhaitent redonner du sens aux élections en soutenant et participant à une grande primaire citoyenne, apartisane, ouverte, en 2017 afin d'élire des candidats vraiment représentatifs." : "#{@item[:description]}" %>">
    <meta name="author" content="<%= @item[:author].nil? ? "des citoyens ordinaires": "#{@item[:author]}" %>">
    <meta property="og:title" content="<%= @item[:social_title].nil? ? "LaPrimaire.org - En 2017, tous candidats à l'élection présidentielle !": "#{@item[:social_title]}" %>">
    <meta property="og:site_name" content="LaPrimaire.org"/>
    <meta property="og:url" content="<%= @item[:url].nil? ? "https://laprimaire.org": "#{@item[:url]}" %>">
    <meta property="fb:app_id" content="115809635110050"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:description" content="<%= @item[:description].nil? ? "LaPrimaire.org est une Primaire Démocratique Ouverte organisée hors des partis politiques pour les élections de 2017. La Primaire vise à rassembler les citoyens déçus et lassés des politiques et qui souhaitent redonner du sens aux élections en soutenant et participant à une grande primaire citoyenne, apartisane, ouverte, en 2017 afin d'élire des candidats vraiment représentatifs.": "#{@item[:description]}" %>">
    <meta property="og:image" content="<%= @item[:image].nil? ? "https://s3.eu-central-1.amazonaws.com/laprimaire/laprimaire-banner-rectangle.jpg": "#{@item[:image]}" %>">
    <meta property="og:image:secure_url" content="<%= @item[:image].nil? ? "https://s3.eu-central-1.amazonaws.com/laprimaire/laprimaire-banner-rectangle.jpg": "#{@item[:image]}" %>">
    <meta name="twitter:image:src" content="<%= @item[:image].nil? ? "https://s3.eu-central-1.amazonaws.com/laprimaire/laprimaire-banner-rectangle.jpg": "#{@item[:image]}" %>">
    <meta name="twitter:widgets:csp" content="on">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@democratech">
    <meta name="twitter:creator" content="@democratech">
    <meta name="twitter:title" content="<%= @item[:social_title].nil? ? "LaPrimaire.org - En 2017, tous candidats !": "#{@item[:social_title]}" %>">
    <meta name="twitter:image" content="<%= @item[:image].nil? ? "https://s3.eu-central-1.amazonaws.com/laprimaire/laprimaire-banner-rectangle.jpg": "#{@item[:image]}" %>">
    <meta name="twitter:description" content="<%= @item[:description].nil? ? "LaPrimaire.org organise une primaire hors partis politiques pour permettre aux français de choisir leurs candidats aux élections de 2017 de manière transparente et démocratique. LaPrimaire.org vise à rassembler les citoyens déçus et lassés des politiques et qui souhaitent redonner du sens aux élections en soutenant et participant à une grande primaire citoyenne, apartisane, ouverte, en 2017 afin d'élire des candidats vraiment représentatifs.": "#{@item[:description]}" %>">
    <title><%= @item[:title].nil? ? "LaPrimaire.org - En 2017, tous candidats à l'élection présidentielle !":"#{@item[:title]}"  %></title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <% if @config[:debug] %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/style/laprimaire.css">
    <% else %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/style/application.css">
    <% end %>
    <link rel="canonical" href="<%= @item[:url].nil? ? "https://laprimaire.org": "#{@item[:url]}" %>">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

