<!DOCTYPE html>
<html lang="fr">
<head>
      <%= render "head" %>
</head>
<body class="index">
<div id="fb-root"></div>
      <% if @item[:navbar] %>
	      <%= render "navbar" %>
      <% end %>
    <header id="page-top">
	<div id="header_overlay" class="blue">
        <div class="container">
            <div class="row">
		    <div class="title">
			    <h2><%= @item[:page_title] %></h2>
		    </div>
	    </div>
        </div>
    </header>

    <section>
	    <div class="container">
		    <div class="row">
			    <div class="col-lg-12">
				    <div class="row" id="lettre_inline">
					    <div class="col-md-12">
						    <div class="lettre">
      <%= yield %>
						    </div>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
    </section>

      <% if @item[:footer] %>
	      <%= render "footer" %>
      <% end %>
  </body>
</html>
